@model Dicto.Models.Uczen

@{
    ViewData["Title"] = "Usuń";
}

@section Menu{
    @Html.Partial("NawigacjaDziennika")
}

<div class="container pt-3">
    <h4>Czy na pewno chcesz usunąć kartę ucznia @Model.Imie @Model.Nazwisko?</h4>
</div>

<div class="container pt-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy uczniów</a>
    </form>
</div>
